%aside
  %nav
    .team-name
      = link_to team_path(team.id),"data-turbolinks": false do
        = team.name
    %ul
      %li
        = link_to "Home", main_team_path(team.id)
      %li
        = link_to "Mypage", ""
      %li
        -if unchecked_notifications.any?
          %span
            %i.fa.fa-circle
        = link_to "Notice", notifications_path
      %li
        = link_to "DM", ""
      %li 
        = link_to "Edit", edit_team_path(team.id)
      %li 
        = link_to "Log out", destroy_user_session_path, method: :delete