.main-wrapper.login
  = render partial: "homes/login_sidebar"
  %main
    .login__wrapper
      %h2.login__title 
        Sign up
        %br
        %span.login__title__description
          選手情報を登録しましょう
      = form_with model: @user, url:create_user_team_path(@team.id) , class: "Box", local: true do |f|
        .field
          = f.label :name
          %br/
          = f.text_field :name, class: "input-form"
        .field
          = f.label :email
          %br/
          = f.email_field :email, class: "input-form"
        .field
          = f.label :password
          %br/
          = f.password_field :password, class: "input-form"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, class: "input-form"
        .field
          = f.submit "登録する", class:"sign-btn", id: "sign-btn"