- if current_user.admin?
  = render partial: "create_gamebtn", locals: { team: @team }
.main-wrapper
  = render partial: "sidebar", locals: { team: @team }
  %main
    .new-game
      %h2.new-game__title 
        Edit your Team
        %br
        %span.new-game__title__description
          チームを編集しましょう
      = form_with model: @team, url:team_path , class: "Box", local: true do |f|
        = render partial: "teams/shared/team_error_messages", locals: { team: @team }
        .field
          = f.label :チーム名
          %br/
          = f.text_field :name, class: "input-form"
        .field
          = f.label :エンブレム
          %br/
          = f.file_field :time, class: "input-form", id: "img-form"
        .field
          = f.submit "編集を保存する", class: "sign-btn"

      = link_to "選手登録はこちら", put_mail_team_path(@team.id), class: "sign-btn"