あなたのチームを編集しましょう
-if user_signed_in?
  ログイン済み
- else
  %p ログアウトしてるで？
  
= form_with model: @team, url:team_path , class: "Box", local: true do |f|
  .signup
    .signup__name
    = f.label :name, class: "signUpForm__label"
    = f.text_field :name, class: "signupForm1", placeholder: "例) メルカリ太郎"
    = f.label :image, class: "signUpForm__label"
    = f.file_field :image, class: "signupForm1"
    = f.submit "次へ進む", class: "signUpBtn"

= link_to "メンバーを招待する", put_mail_team_path(@team.id)