- if current_user.admin?
  = render partial: "create_gamebtn", locals: { team: @team }
.main-wrapper
  = render partial: "sidebar", locals: { team: @team }
  %main
    .main-container
      .box.next-game
        %h2.box__header
          - if @latest_game.present?
            = link_to team_game_path(@team.id, @latest_game.id) do
              = "#{@team.name}の次の試合"
            .next-game__opponent.mini-box
              .next-game__left
                対戦相手
              .next-game__right 
                = @latest_game.opponent
            .next-game__date.mini-box
              .next-game__left  
                日にち
              .next-game__right
                = @latest_game.date.month
                %span /
                = @latest_game.date.day
                %span (
                = %w(日 月 火 水 木 金 土)[@latest_game.date.wday]
                %span )
            .next-game__time.mini-box
              .next-game__left
                時間
              .next-game__right
                = @latest_game.begin_time.to_s(:time)
                〜
                = @latest_game.finish_time.to_s(:time)
            .next-game__place.mini-box
              .next-game__left 
                場所
              .next-game__right
                = @latest_game.place
      .box
        = render partial: "calendar", locals: { team: @team, games: @games }
      - if current_user.admin?
        .box.confirmation
          %h2.box__header
            参加確認が済んでいない試合
          %table
            %thead
              %tr
                %th  日にち
                %th  対戦相手
                %th  参加未確認人数
            %tbody
              - @unconfirmed_games.each do |game|
                %tr
                  %td
                    = game.date.month
                    %span /
                    = game.date.day
                    %span (
                    = %w(日 月 火 水 木 金 土)[game.date.wday]
                    %span )
                  %td
                    = game.opponent
                  %td
                    = GamesUser.count_unconfirmed_members(game.id)