- if current_user.admin?
  = render partial: "create_gamebtn", locals: { team: @team }
.main-wrapper
  = render partial: "sidebar", locals: { team: @team }
  %main
    .main-container
      .box.next-game
        %h2.box__header
          - if @latest_game.present?
            = link_to team_game_path(@team.id, @latest_game.id) do
              = "#{@team.name}の次の試合"
            .next-game__opponent.mini-box
              .next-game__left
                対戦相手
              .next-game__right 
                = @latest_game.opponent
            .next-game__date.mini-box
              .next-game__left  
                日にち
              .next-game__right
                = @latest_game.date
            .next-game__time.mini-box
              .next-game__left
                時間
              .next-game__right
                = @latest_game.time
            .next-game__place.mini-box
              .next-game__left 
                場所
              .next-game__right
                = @latest_game.place
                -# .next-game__right__details
                -#   〒590-0132 大阪府堺市南区原山台５丁１３−４３
      .box.calendar
        ここにカレンダーが入ります
      .box.confirmation
        %h2.box__header
          参加確認が済んでいない試合
        %table
          %thead
            %tr
              %th　日時
              %th　対戦相手
              %th　参加未確認
          %tbody
            %tr
              %td　09/03
              %td　セレッソ大阪
              %td　3人
            %tr
              %td　09/26
              %td　横浜Fマリノス
              %td　7人
            %tr
              %td　10/02
              %td　浦和レッズ
              %td　4人

