.main-wrapper.login
  = render partial: "homes/login_sidebar"
  %main
    .login__wrapper
      %h2.login__title 
        Create your Team
        %br
        %span.login__title__description
          チームを登録しましょう
      = form_with model: @team, url:teams_path , local: true do |f|
        .field
          = f.label :チーム名
          %br/
          = f.text_field :name, class: "input-form"
        .field#img-field
          = f.label :チームイメージ画像 
          %br/
          = f.file_field :image, class: "input-form", id: "img-form"
        .field
          = f.submit "チームを登録する", class:"sign-btn"