.main-wrapper.login
  = render partial: "homes/login_sidebar"
  %main
    %h2.login__title 
      Create your Team
      %br
      %span.login__title__description
        あなたのチームを登録しましょう
    = form_with model: @team, url:teams_path , class: "Box", local: true do |f|
      .signup
        .signup__name
        = f.label :name, class: "signUpForm__label"
        = f.text_field :name, class: "signupForm1", placeholder: "例) メルカリ太郎"
        = f.label :Team_image, class: "signUpForm__label"
        = f.file_field :image, class: "signupForm1"
        = f.submit "次へ進む", class: "signUpBtn"