= render partial: "create_gamebtn", locals: { team: @team }
.main-wrapper
  = render partial: "sidebar", locals: { team: @team }
  %main
    .new-game
      %h2.new-game__title 
        Add Player to Your Team
        %br
        %span.new-game__title__description
          選手を招待しましょう
          %br/
          %span.new-game__title__description__details
            下記の入力欄に、招待したいメンバーのメールアドレスを入力すると招待メールが自動送信されます。
      = form_with model: @email, url:send_mail_team_path(@team.id) , class: "Box", local: true do |f|
        .field
          = f.label :email
          %br/
          = f.text_field :email, class: "input-form"
        .field
          = f.submit "チーム招待メールを送信する", class: "sign-btn"