.main-wrapper
  %aside
    %nav
      .team-name
        = @team.name
      %ul
        %li
          = link_to "Home", main_team_path(@team.id)
        %li
          = link_to "Mypage", ""
        %li
          = link_to "Notice", edit_team_path(@team.id)
        %li
          = link_to "DM", edit_team_path(@team.id)
        %li 
          = link_to "Edit", edit_team_path(@team.id)
        %li 
          = link_to "ログアウト", destroy_user_session_path, method: :delete
  %main
    .main-container
      .box
        .team-heading
          = image_tag @team.image_url, class: "team-heading__image"
          .team-heading__name
            %h1
              = @team.name
        .team-tab
          .tab-panel
            .group
              %ul.tab-group
                %li.tab.is-active 
                  チームプロフィール
                %li.tab
                  所属選手
                %li.tab
                  試合日程
                %li.tab
                  成績
              .panel-group
                .panel.is-show
                  .panel__profile
                .panel
                  .panel__players
                .panel
                  .panel__date
                .panel
                  .panel__result
              