.main-wrapper
  = render partial: "teams/sidebar", locals: { team: @team }
  %main
    .new-game
      %h2.new-game__title 
        Report Game Result
        %br
        %span.new-game__title__description
          試合の結果を保存しましょう
      = form_with model: @game_result, url:team_game_results_path(@team.id, @game.id) , class: "Box", local: true do |f|
        .field
          = f.label :自チーム得点
          %br/
          = f.number_field :my_score, class: "input-form"
        .field
          = f.label :相手チーム得点
          %br/
          = f.number_field :rival_score, class: "input-form"
        .field#a
          .field__scorer{data:{index: 0}}
            = f.fields_for :game_scorers do |game_scorer|
              = game_scorer.label :自チーム得点者
              %br/
              = game_scorer.collection_select :user_id, @game.team.users ,:id, :name,{},class: "input-form"
              %button.btn.add-scorer{type: "button"} 
        .field
          = f.submit "試合を追加する", class: "sign-btn"

          