.main-wrapper.login
  = render partial: "homes/login_sidebar"
  %main
    .login__wrapper
      %h2.login__title 
        Sign up as a Player
        %br
        %span.login__title__description
          まずはあなたを選手を登録しましょう
          %br/
          今作成したチームの管理権限を持った選手として登録されます
      = form_with model: @user, url:users_registrations_admin_create_path , local: true do |f|
        .field
          = f.label :name
          %br/
          = f.text_field :name, class: "input-form"
        .field
          = f.label :email
          %br/
          = f.email_field :email, class: "input-form"
        .field
          = f.label :password
          %br/
          = f.password_field :password, class: "input-form"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, class: "input-form"
        .field
          = f.submit "登録する", class:"sign-btn", id: "sign-btn"