.main-wrapper
  = render partial: "teams/sidebar", locals: { team: @team }
  %main
    .new-game
      %h2.new-game__title 
        Add new Game
        %br
        %span.new-game__title__description
          試合を追加しましょう
      = form_with model: @game, url:team_games_path(@team) , class: "Box", local: true do |f|
        .field
          = f.label :日にち
          %br/
          = f.date_field :date, class: "input-form"
        .field
          = f.label :時間
          %br/
          = f.time_field :time, class: "input-form"
        .field
          = f.label :対戦相手
          %br/
          = f.text_field :opponent, class: "input-form"
        .field
          = f.label :場所
          %br/
          = f.text_field :place, class: "input-form"
        .field
          = f.submit "試合を追加する", class: "sign-btn"