.main-wrapper
  = render partial: "teams/sidebar", locals: { team: @team }
  %main
    .new-game
      %h2.new-game__title 
        = @user.name
      .dm-content
        - if @dms.present?
          - @dms.each do |dm| 
            - if dm.user_id == current_user.id 
              .self
                %p.self__content
                  = dm.content
            - else
              .other
                %p.other__content
                  = dm.content 
        - else
          .dm-no-content
    = form_with model: @dm, local: true, class:"chat-form" do |f|
      = f.text_field :content, class:"content"
      = f.hidden_field :room_id 
      = f.button type: "submit", class: "submit" do
        %i.far.fa-paper-plane